.navcik {
  padding: 10px;
  margin: 15px;
}

.middle-links {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .middle-links {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

.owl {
  width: 100px;
}

/************* [ Search ] *************/
.search-article {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.search-article input[type="search"] {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px 0 40px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: rgba(128, 128, 128, 0.1);
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.search-article .search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  /* Tıklamayı engelle */
}

.search-article .search-icon svg {
  display: block;
}

/*bgimage*/
.bg-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.rounded-3 {
  border-radius: 0.5rem !important;
}

.bg-image-wrapper img {
  filter: brightness(0.5);
  /* 0.7 yerine daha koyu (0.3-0.6 arası deneyin) */
}

.card-custom {
  position: relative;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  color: #fff;
  transition: transform 0.3s;
}

/* .card-custom:hover {
    transform: scale(1.05);
  }*/

.card-custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 34px;
  background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
}

.card-overlay h5 {
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.card-overlay p {
  margin: 0;
  font-size: 0.9rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.flag-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.flag-badge img {
  width: 32px;
  height: auto;
  border-radius: 3px;
  opacity: 1 !important;
  /*
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);*/
}

.flag-badge span {
  font-size: 20px;
  line-height: 1;
}

/************* [General] *************/
.post-title,
.post-content h1 {
  font-size: 2.625rem;
  letter-spacing: -1px;
  line-height: 1.15;
  font-family: 'Poppins', sans-serif;
}

.post-meta {
  font-size: 14px;
  color: #828282;
  font-family: 'Lora', serif;
}

.post-content {
  margin-bottom: 30px;
}

.p-author {
  margin: 5px;
}

article.post {
  margin: 25px;
}

@media (max-width: 767.98px) {
  .gitstat {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .gitstat a {
    margin-bottom: 5px;
  }

  .rightinfo {
    margin-top: 3rem !important;
  }
}

.mx-autoe {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.gitstat {
  display: flex;
  align-items: center;
}

.gitstat a {
  margin-right: 0.5rem;
}